.social-links {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.social-links__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-text);
  border-radius: 50%;
  transition: all var(--transition-normal);
}

.social-links__item svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
}

.social-links__item:hover {
  color: var(--color-primary);
  background-color: var(--color-light-gray);
  box-shadow: var(--shadow-sm);
}