/* Подключение шрифта Geometria */
@font-face {
  font-family: 'Local-Geometria';
  src: url('../fonts/geometria/VYZQXP-Geometria.woff2') format('woff2'),
       url('../fonts/geometria/VYZQXP-Geometria.woff') format('woff'),
       url('../fonts/geometria/VYZQXP-Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Подключение шрифта Didot */
@font-face {
  font-family: 'Local-Didot';
  src: url('../fonts/didot/Didot.woff2') format('woff2'),
       url('../fonts/didot/Didot.woff') format('woff'),
       url('../fonts/didot/Didot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 