@font-face {
  font-family: 'Didot';
  src: url(./Didot.eot);
  src: url(./Didot.eot?#iefix) format('embedded-opentype'),
       url(./Didot.otf) format('otf'),
       url(./Didot.svg#Didot) format('svg'),
       url(./Didot.ttf) format('truetype'),
       url(./Didot.woff) format('woff'),
       url(./Didot.woff2) format('woff2');
}
